html,
body {
  --theme-background: var(--c-light);
  --theme-color: var(--c-dark);
  --theme-color-invert: var(--c-light);
  --border-color: var(--c-dark);

  margin: 0;
  padding: 0;
  color: var(--theme-color, var(--c-red));
  font-family: var(--primary-font-family, sans-serif);
  height: 100%;
  width: 100%;
}

h1 {
  font-weight: 300;
  font-size: clamp(1rem, 1.5rem, 2rem);
}

h2 {
  font-weight: 300;
  font-size: clamp(1.5rem, 3rem, 3.5rem);
}

button {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;

  background: transparent;

  /* inherit font & color from ancestor */
  color: inherit;
  font: inherit;

  /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
  line-height: normal;

  /* Corrects font smoothing for webkit */
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;

  /* Corrects inability to style clickable `input` types in iOS */
  -webkit-appearance: none;

  text-align: inherit;
  outline: none;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}

.theme {
  --theme-background: none;
  --theme-color: var(--c-light);

  &--light_dark {
    --theme-background: var(--c-light);
    --theme-color: var(--c-dark);
    background-color: var(--theme-background);
    color: var(--theme-color);
  }

  &--dark_light {
    --theme-background: var(--c-dark);
    --theme-color: var(--c-light);
    background-color: var(--theme-background);
    color: var(--theme-color);
  }

  // &--dark-red_light-red {
  //   --theme-background: var(--c-dark-red);
  //   --theme-color: var(--c-light-red);
  //   background-color: var(--theme-background);
  //   color: var(--theme-color);
  // }

  &--dark-red_light-red {
    --theme-background: var(--c-black);
    --theme-color: var(--c-light);
    --border-color: var(--c-light);

    background-color: var(--theme-background);
    color: var(--theme-color);

    .rb-data-viz--title {
      h1 {
        background: var(--geist-text-gradient);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        font-size: 88px;
        font-weight: 700;
        letter-spacing: -3px;
        margin: 32px 0 8px;
      }

      p {
        --color: var(--accents-5);
      }
    }

    .rb-data-viz--block {
      border-radius: 8px;
      border: var(--inset-border);
      opacity: var(--glow-opacity);
      background-image: var(--glow-bg);

      h3 {
        color: var(--accents-7);
      }
    }
  }
}
